ETHEREUM_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
DEPLOYER_PRIVATE_KEY=
REGISTRY_ADMIN=0x0000000000000000000000000000000000000000
DEPLOYMENT_NETWORK=ethereum-sepolia
DEPLOYMENT_CHAIN_ID=11155111
